/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.Tem.2014, 15:02:55
    Author     : OMUR
*/
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
body {
    background: url(../images/bg.png) repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-align: left;
    text-decoration: none;
}
 #logo h1{
    float:left;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 28px; 
    color: #f3f3f3;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0); 
}
#profil-sarmala{
    /*    width:900px;
        height:1200px;
        background-color: #ddf;
        margin:10px auto; 
        position:relative;
        
        box-shadow: 10px 15px 5px 1px #111;*/
    width:900px;
    height:1200px;
    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;
    margin:10px auto; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#avatar{ 
    float:left;
    margin:  20px 20px auto;
    padding: 5px 5px 5px 5px;
    background-color: white;
    width: 110px;
    height: 100px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#avatar img{ 
    margin: 2px 4px auto ;
}
#iletiler{ 
    float:left;
    margin: 20px 20px auto;
    width: 430px;
    height: 1180px;
    background-color: #ccc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#fonlar{ 
    float:left;
    margin: 20px 20px auto;
    width: 220px;
    height: 480px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#arkadas-listesi{ 
    float:left;
    margin: 220px 20px auto;
    width: 140px;
    height: 100px;
    background-color: white;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
