/* 
    Document   : blog
    Created on : 02.Eyl.2014, 06:39:58
    Author     : ömüralcin
    Description:
        Purpose of the stylesheet follows.
*/

#giris h2{ 
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    border-bottom: 1px dashed #ddd;
      
}
#giris ul li{  
    padding: 3px 0;
    font-size: 12px;
}
#giris ul li input{  
    padding: 5px 0;
    width: 220px;
    border:1px solid #ddd;
    border-radius: 3px;
}
#giris ul li button{  
    padding: 3px 7px;
    background:#333;
    color: #fff;
    cursor:pointer;
    border-radius: 3px;
}
/* HATA MESAJI */
.hata {
    background: lightyellow;
    padding : 7px;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 10px;
}
.ok {
    background: lightgreen;
    padding : 7px;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 10px;
}
