#giris_yap{
    padding: 20px;
}
#giris_yap table tr td{
    padding: 5px;
}
#giris_yap table tr td input{
    border: 1px solid #ccc;
    padding:3px;
    width: 220px;
    border-radius: 3px;
}
#giris_yap table tr td button{
    background: #333;
    color:#fff;
    padding:3px 7px;
    border-radius: 3px;
    border:0px;
    cursor:pointer;
} 
/*SAYFALA */

ul,li{padding:0;margin: 0;list-style: 0;}
.sayfala{padding:15px 15px 0 15px ;}
.sayfala li{float: left;margin-right: 10px;}
.sayfala li select{width:220px;padding:3px;border:1px solid #ddd}
.sayfala li button{background: #f1f1f1;cursor: pointer;font-size: 12px;padding:4px }


